<!DOCTYPE html>
<html lang="en" xmlns th=:"http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration Form</title>
    <link rel="stylesheet" href="/css/demo.css">
</head>
<body>
	
	<Form th:action="@{/processstuedntform}" th:object="${student}"  method="POST" class="container" >
		<h1>Student Registration Form</h1>
		<br>
		<input type="text" th:field="*{firstName}" placeholder="what's your first name?"   />
		<br/><br>
		<input type="text" th:field="*{lastName}"  placeholder="what's your last name?"  />
		<br/><br>
		counrty : 
		<select th:field="*{country}">
			<option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" >
		</select>
		<br/><br>
		<input type="radio" th:field="*{favoriteLanguage}"
							 th:each="favoriteLanguage : ${favoriteLanguages}"
							   th:value="${favoriteLanguage}"
							   th:text="${favoriteLanguage}" />

		<br/><br>
		<input type="checkbox" th:field="*{favoriteOS}"
							 th:each="favoriteOS : ${favoriteOS}"
							   th:value="${favoriteOS}"
							   th:text="${favoriteOS}" />
		<br/><br>
		<input type="submit" value="submit" />
	</Form>
</body>
</html>