<!DOCTYPE html>
<html lang="en" xmlns th=:"http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student-confimation</title>
    <link rel="stylesheet" href="/css/demo.css">
</head>
<body class="container">
	the Student  :  <span th:text="  ${student.firstName} + ' ' +  ${student.lastName} + ' ' +  ${student.country} + ' ' +  ${student.favoriteLanguage} + ' ' +  ${student.favoriteOSit } " /> 

</body>
</html>